.m-btn {
    display:flex;
    align-items:center;
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    font-family: GoogleSans-Regular;
    font-size:13px;
    color:#ffffff;
    padding-right:16px;
    padding-left:16px;
    outline:none;
    border:none;
    cursor:pointer
}

    .m-btn .m-btn-icon{
        background-position:center;
    }
    .m-btn .btn-text{
        margin-left:8px;
    }

    .m-btn:hover {
        background-color: #2FBE8E;
    }

    .m-btn-secound{
        border:1px solid #bbb;
        border-radius:4px;
        background-color:#fff;
        height:40px;
        width:40px !important;
        padding-left:24px;
        padding-right:24px;
        color:#000;
        font-size:13px;
        outline:none;
        font-family:Google-Regular

    }

    .m-btn-reset {
        background-repeat: no-repeat;      
        background-position: center;
        background-image: url('/content/icon/refresh.png');
       
    }

    .m-btn-secound:hover{
        background-color:#E9EBEE
    }


.m-btn-third {
    border: 1px solid #bbb;
    border-radius: 4px;
    background-color: #fff;
    height: 25px;
    padding-left: 24px;
    padding-right: 24px;
    color: #000;
    font-size: 13px;
    outline: none;
    font-family: Google-Regular;
    cursor:pointer
}

    .m-btn-third:hover {
        background-color: #E9EBEE
    }
